body{

    background-color: beige
}
#main.row {
    border:0;
    margin-top:20px;
    padding: 0px;
    background: red;
    height:70px;
    display:flex;
}
#main img{
    height: 50%;
}
#main a {
    color: white;
    line-height: 4;
}
/* for the space inside navbar */
.navbar {
    margin-left:-15px;
}
#nav-start {
    border: 0;
    padding: 0;
    margin: 10px;
    background: rgb(204, 102, 0);
}

/* for words in nav bar */
#nav-word {
    dsiplay: flex;
    justify-content: space-evenly;
    width: 1000px;
}
/* carousel and vertical menu */
#mid {
    display: flex;
    margin-left: 50px;
    background: blue;
}
#carouselExampleControls {
    height: 500px;
    width: 600px;
    /* height: 60vh;
    width: auto; */
}
.carousel-inner {
    height: 500px;
    width: auto;
    /* height: auto;
    width: auto; */
}

.carousel-control-prev {
    background: black;
}
.carousel-control-next {
    background: black;
}

#v-menu {
    background: rgb(219, 136, 81);
    display: flex;
    /* height: 300px; */
    /* padding: 10px; */
    /* border: 0; */
}
.card-box {
    display: flex;
    justify-content: flex-end;
    border-bottom: solid black 1px;
    /* margin-left: 10px; */
}
#v-menu img {
    height: 10vh; 
    width: 10vh;
    margin-left: 10px;

}
#view {
    text-align: right;
}

/* footer */
#top {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin-left: 10px; */
}
#connect {
    margin-right:10px;
}
.fa {
  padding: 8px;
  font-size: 15px;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
#bottom {
    padding:10px;
}